<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- meta -->
    <%- include(rootView+'/common/meta')  %>

    <title>详情-起风了-唯有独立生存</title>

    <!-- header -->
    <%- include(rootView+'/common/header')  %>

    <!-- 相关业务 -->
    <link rel="stylesheet" href="<%=rootPath%>/movie/css/movie.css">
    <script type="text/javascript" src="<%=rootPath%>/movie/js/movie.js"></script>

</head>
<body class="bg-blue">


<section class="">
    <h5 class="title detail"> 起风了 --- 唯有努力生存</h5>


            <ul class="detail-list">

                <li>
                    <p class="info">
                        &nbsp;&nbsp;&nbsp;&nbsp;从大正到昭和的这段时光，20世纪20~30年代的日本动荡不安，贫困与疾病，加上不景气的经济和破坏力巨大的关东大地震，让生活在这座岛屿上的人民惶惶不可终日。而随着战争脚步的临近，年轻人们的未来愈加变得扑朔迷离，捉摸不定。
                        <br/><br/> &nbsp;&nbsp;&nbsp;&nbsp;自幼便对飞机抱以浓厚兴趣的堀越二郎（庵野秀明 配音），
                        与他所景仰的意大利飞机设计师卡普罗尼（野村万斋 配音）建立了穿越时空的友情，并从对方那里汲取勇气和灵感。他发誓设计并制造出优美的飞机，长大后如愿考入东京某大学学习航空工学。在此之后，他远赴德国留学，凭借自身掌握的航空技术，二郎成为一名战斗机设计师，经典机型七试舰上战斗机（九六式舰上战斗机）便曾留下他智慧的结晶。可在一次试飞中，他的飞机意外坠毁，颇受打击的二郎前往位于长野县北佐久郡的轻井泽疗养，谁知竟在那里结识了一生的最爱。纵有疾风起,人生不言弃。她叫菜穗子（泷本美织 配音）.

                        <br/><br/> &nbsp;&nbsp;&nbsp;&nbsp;在1923年9月1日（日本十年前的关东大地震期间）曾与二郎有过一面之缘。两人一见钟情，彼此约定相守终生。然而菜穗子罹患了在当时被视作绝症的肺结核，前方的道路一片黑暗。但二郎始终无法放弃制造优美飞机的梦想，二郎再度投身零式战斗机的设计工作中去。另一方面，自知去日无多的菜穗子偷偷溜出疗养院，奔向她的爱人二郎。动荡的年代，有限的生命，青年男女风中残烛般的飘摇爱情
                    </p>
                </li>
                <li>
                    <img src="<%=rootPath%>/movie/imgs/11.jpeg" />
                </li>
                <li>

                    <img src="<%=rootPath%>/movie/imgs/66.jpg" />
                </li>
                <li>
                    <p class="info">
                        《起风了》（英语：THE WIND RISES）是导演兼脚本的宫崎骏以同名漫画所改编的动画电影。
                        讲述的是日本零式战斗机的开发者堀越二郎年轻时的故事。宫崎的作品，大多洋溢着像出现乘着扫帚在天空飞、鱼子从海边而来这样的幻想元素。但这次在影片中，没有不可思议的魔法，也不会出现怪物，堀越二郎是第二次世界大战中设计零战的实际存在的人物。
                        <br/>
                        <br/>
                        影片中，宫崎骏在表现对飞机的热爱之余，还打造了二郎和卡普罗尼相会时的动荡年代，展现了日本大正、昭和时代的田园风光、市井乡情、噩梦般关东大地震等
                    </p>
                </li>


            </ul>


</section>


<div class="wrap-footer" >
<!-- footer -->
<%- include(rootView+'/common/footer')  %>
</div>
</body>
</html>