<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- meta -->
    <%- include(rootView+'/common/meta')  %>

    <title>起风了-唯有独立生存</title>

    <!-- header -->
    <%- include(rootView+'/common/header')  %>

    <!-- 相关业务 -->
    <link rel="stylesheet" href="<%=rootPath%>/movie/css/movie.css">
    <script type="text/javascript" src="<%=rootPath%>/movie/js/movie.js"></script>

</head>
<body>



        <section class="abs_center">

                <h5 class="title">
                    Wind
                </h5>
                <p class="tag">
                    起风了 --- 唯有努力生存.
                </p>
                <a href="detail" class="enter">
                    立即进入
                </a>

        </section>


        <!-- footer -->
        <%- include(rootView+'/common/footer')  %>
</body>
</html>